.shop-container{
    margin-top: 200px;
    margin: 108px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}