.shop-container{
    margin-left: 108px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 200px;
    
}
.card-container{
    width: 264px;
    background-color: #FFE0B3;
}